@import "tailwindcss";

:root {
  --background: #EEEEEE;
  --foreground: #000000;
  --accent-orange: #FF6E00;
  --accent-yellow: #FFD700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-orange: var(--accent-orange);
  --color-accent-yellow: var(--accent-yellow);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
